.login__form__btn {
    height: 2.142rem;
    width: 17.857rem;
    background-color: #b2dffc;
    color: #FFF;
    border: none;
    border-radius: 3px;
    margin-top: .571rem;
    margin-bottom: 1.285rem;
}